<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head.ejs') %>
    <title>Edit Book Details</title>
  </head>

  <body>
    <%- include('../../partials/menu.ejs') %>
    <div class="current-page"><h2>Edit Book Details</h2></div>
    <main>
      <div class="result">
        <form action="/update/<%= details.id %>" method="POST">
          <legend>Update Info</legend>

          <label for="title">Title</label>
          <input name="title" type="text" value="<%= details.title %>" placeholder="Title"/>
          
          <label for="author">Author</label>
          <input name="author" type="text" value="<%= details.author %>" placeholder="Author"/>
          
          <label for="description">Description</label>
          <textarea name="description" placeholder="Description"><%= details.description %></textarea>
          
          <label for="isbn_number">ISBN Number</label>
          <input name="isbn_number" type="text" value="<%= details.isbn_number %>" placeholder="ISBN Number"/>
          
          <select name="bookshelf">
            <% let uniqueShelf = []; %>
            <% shelves.forEach(shelf => { %>
              <% if(!uniqueShelf.includes(shelf)) uniqueShelf.push(shelf); %>
            <% }); %>

            <% uniqueShelf.forEach(shelf => { %>
              <% if(shelf.bookshelf != null && shelf.bookshelf !== ''){ %>
                <option><%= shelf.bookshelf %></option>
              <% } %>

            <% }); %>
          </select>
          
          <input type="hidden" name="_method" value="PUT">
          <button type="submit">Save Update</button>
        </form>
      </div>
    </main>

  </body>

</html>