<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head.ejs') %>
    <title>Edit Book Details</title>
  </head>

  <body>
    <%- include('../../partials/menu.ejs') %>
    <div class="current-page"><h2>Edit Book Details</h2></div>
    <main>
      <div class="result">
        <form action="/update/<%= details.id %>" method="POST">
          <h3 class="update">Update Info</h3>

          <input name="title" type="text" value="<%= details.title %>" placeholder="Title" class="update"/>
          
          <input name="author" type="text" value="<%= details.author %>" placeholder="Author" class="update"/>
          
          <img src=<%= details.image_url %>>
          <input name="image_url" type="text" value="<%= details.image_url %>" placeholder="Image URL" class="update"/>

          <textarea name="description" placeholder="Description" class="update"><%= details.description %></textarea>
          
          <input name="isbn_number" type="text" value="<%= details.isbn_number %>" placeholder="ISBN Number" class="update"/>
          
          <select name="bookshelf" class="update">
            <% let uniqueShelf = []; %>
            <% shelves.forEach(shelf => { %>
              <% if(!uniqueShelf.includes(shelf)) uniqueShelf.push(shelf); %>
            <% }); %>

            <% uniqueShelf.forEach(shelf => { %>
              <% if(shelf.bookshelf != null && shelf.bookshelf !== ''){ %>
                <option class="update"><%= shelf.bookshelf %></option>
              <% } %>

            <% }); %>
          </select>
          
          <input type="hidden" name="_method" value="PUT">
          <button type="submit">Save Update</button>
        </form>
      </div>
    </main>

  </body>

</html>